body {
	display: flex;
	flex-direction: column;
	width: 70vw;
	margin: 0 auto;
	min-width: 500px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {

}

.header .right .links {
	display: flex;
	list-style: none;
	gap: 10px;
	margin: 0;
	padding: 0;
}

.hero {
	display: flex;
	justify-content: space-between;
}

.hero-left {
	display: flex;
	flex-direction: column;
}

.hero-right {

}

.main-items {
	display: flex;
	flex-direction: column;
}

.main-items-caption {

}

.main-items-tiles {
	display: flex;
}

.quote {
	display: flex;
	flex-direction: column;
}

.quote-text {

}

.quote-attribution {
	text-align: right;
}

.cta {
	display: flex;
}

.cta-text {
	display: flex;
	flex-direction: column;
}

.cta-signup {

}

.footer {
	text-align: center;
}