body {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {

}

.right {

}

.hero {
	display: flex;
	justify-content: space-between;
}

.hero-left {
	display: flex;
	flex-direction: column;
}

.hero-right {

}

.main-items {
	display: flex;
	flex-direction: column;
}

.main-items-caption {

}

.main-items-tiles {
	display: flex;
}

.quote {
	display: flex;
	flex-direction: column;
}

.quote-text {

}

.quote-attribution {

}

.cta {
	display: flex;
}

.cta-text {
	display: flex;
	flex-direction: column;
}

.cta-signup {

}

.footer {

}